body {
    display:grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}


#gridBox {
    display:grid;
    grid-row-start:2;
    grid-column-start:2;
    grid-template-rows:repeat(4, 1fr);
    grid-template-columns:repeat(4, 1fr);


}

.innerBox {
    outline: 3px solid rgb(195, 19, 19);
    padding:10px;
    margin:10px;

}